@use "../variables" as *;

.block-intro {
    background-color: $primaryColor;
    color: #fff;
    text-align: center;

    &__inner {
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
    }

    &__content {
        h3 {
            margin-bottom: 10px;
        }
    }

    &__image img {
        width: 100%;
        height: auto;
    }

    @media (min-width: $breakpoint-lg) {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            text-align: start;
            padding: 50px;
        }

        &__image {
            flex: 0 0 calc(50% - 25px);
        }

        &__content {
            flex: 0 0 calc(50% - 25px);
        }

        &__content p {
            font-size: 3rem;
        }
    }
}