@use "../variables" as *;

.block-callout {
    margin: 30px 0;
    padding: 10px 20px;

    &:nth-child(even) {
        .block-callout__inner {
            background-color: $greyBackground;

            p,
            h2 {
                color: $text;
            }
        }
    }

    &__inner {
        background-color: $tertiaryColor;
        max-width: 1000px;
        text-align: center;
        padding: 30px 20px;
        box-shadow: 0px 10px 10px 0px rgba(#000000, 0.1);

        p,
        h2 {
            color: #fff;
        }

        .h1 {
            margin-bottom: 20px;
        }
    }

    @media (min-width: $breakpoint-md) {
        margin: 60px;
        padding: 0;

        &__inner {
            padding: 40px 30px;
        }
    }
}