@use "../variables" as *;

.block-callout {
    margin: 30px 0;
    padding: 10px 20px;

    &__inner {
        background-color: $greyBackground;
        max-width: 1000px;
        text-align: center;
        padding: 30px 20px;

        p {
            color: $text;
        }

        .h1 {
            margin-bottom: 20px;
        }
    }

    @media (min-width: $breakpoint-md) {
        margin: 60px;
        padding: 0;

        &__inner {
            padding: 40px 30px;
        }
    }
}