@use "../variables" as *;

.block-content-image-slider {
    background-color: $greyBackground;

    &__inner {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 30px;
    }

    &__content {
        width: 100%;
        text-align: center;

        h2 {
            color: $primaryColor;
        }

        p {
            color: $primaryColor;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 30px;
    }

    &__slider {
        width: 100%;
    }

    @media (min-width: $breakpoint-md) {
        margin: 60px 0;

        &__inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 50px 50px;
        }

        &__content {
            width: 50%;
            text-align: start;
            padding: 0 50px 80px 0;
        }

        &__image {
            width: 50%;
            margin-bottom: 0;
        }
    }

    @media (min-width: $breakpoint-md) {
        margin: 80px 0;

        &__inner {
            padding: 80px;
        }
    }
}