@use "../variables" as *;

.block-content-image-slider {
    background-color: $greyBackground;

    &__inner {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 30px 0px;
    }

    &__content {
        width: 100%;
        text-align: center;

        h2 {
            color: $primaryColor;
        }

        p {
            color: $primaryColor;
        }

        img {
            width: 75%;
            margin: 40px auto 0;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 30px;
    }

    &__slider {
        width: 100%;
    }

    @media (min-width: $breakpoint-md) {
        margin: 60px 0;

        &__inner {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: 50px 50px 0;
        }

        &__content {
            width: 50%;
            text-align: start;
            padding-right: 50px;
        }

        &__image {
            width: 50%;
            padding-bottom: 50px;
            margin-bottom: 0;
        }
    }

    @media (min-width: $breakpoint-lg) {
        margin: 80px 0;

        &__inner {
            padding: 80px 80px 0;
        }

        &__content {
            img {
                width: 70%;
                margin-top: 60px;
            }
        }

        &__image {
            padding-bottom: 80px;
        }
    }
}