@use "../variables" as *;

.block-location {
    color: #fff;
    text-align: center;
    margin: 40px 20px;

    &__box {
        display: flex;
        flex-direction: column;

        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        padding: 30px 25px;
        background-color: $primaryColor;

        .h2,
        .h4 {
            color: #fff;
            margin-bottom: 15px;
        }
    }

    &__map {
        iframe {
            width: 100%;
            height: 300px;
        }
    }

    &__media {
        width: 100%;


        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    @media (min-width: $breakpoint-md) {
        margin: 60px;

        &__box {
            flex-direction: row !important;
        }

        &__info,
        &__map,
        &__media {
            width: 50%;
            aspect-ratio: 3 / 2;

            img,
            iframe {
                height: 100%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        margin: 80px;
    }
}