@use "../variables" as *;

.block-intro {
    position: relative;
    color: #fff;
    text-align: center;

    &__background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;
        z-index: 1;
        background-color: rgba($primaryColor, 0.7);
        backdrop-filter: blur(7px);
    }

    &__inner {
        padding: 100px 20px 40px;
        margin: 0 auto;
    }

    &__content {
        h3 {
            margin-bottom: 10px;
        }

        p {
            font-size: 2.4rem;
        }
    }

    &__image img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    @media (min-width: $breakpoint-md) {
        &__inner {
            max-width: 500px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        &__inner {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            text-align: start;
            padding: 150px 50px 80px;
        }

        &__image {
            flex: 0 0 calc(50% - 25px);
        }

        &__container {
            backdrop-filter: blur(10px);
        }

        &__content {
            flex: 0 0 calc(50% - 25px);

            p {
                font-size: 3rem;
            }
        }
    }
}