.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 5px
    20px;

  &__title {
    color: #fff;
    margin-bottom: 0;
  }

  &__logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  @media (min-width: 1280px) {
    padding: 20px
      30px;

    &__logo {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}
