@use "variables" as *;

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 20px;
    height: 90px;
    margin-bottom: -90px;

    &.show {
        background-color: $primaryColor;
        //background-color: rgba($primaryColor, 0.9);
        //backdrop-filter: blur(7px);

        .header__logo {
            opacity: 1;
            pointer-events: initial;
        }
    }

    &__hamburger {
        width: 45px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #FFF;
        }
    }

    &__menu {
        display: none;

        &.open {
            display: block;
            position: absolute;
            top: 90px;
            left: 0;
            width: 100%;
            background-color: $primaryColor;
        }

        ul {
            padding: 20px;
        }

        li {

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: #FFF;

            &:hover {
                color: $secondaryColor;
            }
        }
    }

    &__logo {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: contain;
        opacity: 0;
        transition: all ease 0.5s;
        pointer-events: none;
    }

    @media (min-width: $breakpoint-lg) {
        padding: 20px 30px;
        height: 100px;
        margin-bottom: -100px;
        transition: all ease 0.5s;

        &__hamburger {
            display: none;
        }

        &__menu {
            display: initial;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                margin-bottom: 0;
            }

            li {
                margin-bottom: 0;
            }
        }

        &__logo {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }
}