@use "variables" as *;

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryColor;
  padding: 5px 20px;

  &__title {
    color: #fff;
    margin-bottom: 0;
  }

  &__logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    opacity: 0;
    transition: all ease 0.5s;

    &.show {
      opacity: 1;
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding: 20px 30px;

    &__logo {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}