.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 5px 20px;
}

.header__title {
    color: #FFF;
    margin-bottom: 0;
}

.header__logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

@media (min-width: 1280px) {
    .header {
        padding: 20px 30px;
    }

    .header__logo {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}